*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #040720;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}
.card{
    background-color: #8A9A65;
    width: 550px;
    height: 600px;
    border-radius: 8%;
    margin-top: 5%;
}
.topper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    padding-left: 4%;
    padding-right: 4%;
}
.topper_left_in{
    width: 24px;
}
.topper_right{
    justify-content: flex-end;
    justify-items: flex-end;
    align-items: flex-end;
}
.topper_right_in{
    width: 24px;
}
.dis_img{
    margin-top: 5%;
}
.dis_img{
    border-radius: 40px;
    width: 200px;
    border: 2px solid white;
    
}
.dis_h{
    margin-top: 25px;
}   
.dis_p{
    margin-top: 2%;
    font-size: 20px;
}
#pro_bar{
    -webkit-appearance: none;
    width: 80%;
    height: 6px;
    background: white;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0px;  
}
#pro_bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;box-shadow: 0 0 10px 3px rgba(89, 89, 89, 0.7);
}
.control{
    justify-content: space-between;
    display: flex;
    margin-top: -2%;
    padding-left: 25%;
    padding-right: 25%;
}
.control_btn{
    width: 30px;
    cursor: pointer;
}