*{
    margin: 0%;
    padding: 0%;
}
.odd {
    background-color: black;
    color: white;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
}
.even {
    background-color: green;
    color: white;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
}